@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* Customize color themes here */
:root {

    /* font-size: 15px; */
    --black: #000000;
    --white: #FFFFFF;

    --body-background: #F6F6F7;

    --primary-100: #D6E3F8;
    --primary-200: #ADC7F1;
    --primary-300: #84ABEA;
    --primary-400: #5B8FE3;
    --primary-500: #3273DC;
    --primary-600: #285CB0;
    --primary-700: #1E4584;
    --primary-800: #142E58;
    --primary-900: #0A172C;

    --secondary-100: #CCF6F0;
    --secondary-200: #99EDE0;
    --secondary-300: #66E3D1;
    --secondary-400: #33DAC1;
    --secondary-500: #00D1B2;
    --secondary-600: #00A78E;
    --secondary-700: #007D6B;
    --secondary-800: #005447;
    --secondary-900: #002A24;

    --info-100: #D2EBFC;
    --info-200: #A6D7F8;
    --info-300: #79C4F5;
    --info-400: #4DB0F1;
    --info-500: #209CEE;
    --info-600: #1A7DBE;
    --info-700: #135E8F;
    --info-800: #0D3E5F;
    --info-900: #061F30;

    --dark-100: #D7D7D7;
    --dark-200: #AFAFAF;
    --dark-300: #868686;
    --dark-400: #5E5E5E;
    --dark-500: #363636;
    --dark-600: #2B2B2B;
    --dark-700: #202020;
    --dark-800: #161616;
    --dark-900: #0B0B0B;

    --light-100: #FEFEFE;
    --light-200: #FCFDFD;
    --light-300: #FBFBFC;
    --light-400: #F9FAFB;
    --light-500: #E8E9EA;
    --light-600: #C6C7C8;
    --light-700: #959596;
    --light-800: #636464;
    --light-900: #323232;

    --success-100: #D3F6DF;
    --success-200: #A7EDBF;
    --success-300: #7BE3A0;
    --success-400: #4FDA80;
    --success-500: #23D160;
    --success-600: #1CA74D;
    --success-700: #157D3A;
    --success-800: #0E5426;
    --success-900: #072A13;

    --warning-100: #FFF8DD;
    --warning-200: #FFF1BC;
    --warning-300: #FFEB9A;
    --warning-400: #FFE479;
    --warning-500: #FFDD57;
    --warning-600: #CCB146;
    --warning-700: #998534;
    --warning-800: #665823;
    --warning-900: #332C11;

    --danger-100: #FFD7DF;
    --danger-200: #FFAFBF;
    --danger-300: #FF88A0;
    --danger-400: #FF6080;
    --danger-500: #FF3860;
    --danger-600: #CC2D4D;
    --danger-700: #99223A;
    --danger-800: #661626;
    --danger-900: #330B13;

    --sidebar-width-expand: 250px;
    --sidebar-width-collapse: 90px;
    --header-height: 70px;

    scrollbar-color: #cbd5e0dd transparent;
    scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbd5e0dd;
    border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "styles/_text.css";
@import "styles/_button.css";
@import "styles/_table.css";

input {
    @apply placeholder-light-600;
}